= form_with model: borrower, local: true,
            data: { controller: 'borrower-form',
                    'borrower-form-email-suffix' => default_email_suffix } do |form|
  - if borrower.errors.any?
    .alert.callout#error-explanation
      %h2
        = pluralize(borrower.errors.count, 'error')
        prevented
        this borrower from being saved:
      %ul
        - borrower.errors.full_messages.each do |msg|
          %li= msg
  = form.label :name
  = form.text_field :name,
                    data: { target: 'borrower-form.nameField',
                            action: 'input->borrower-form#nameEdited' }

  = form.label :code
  = form.text_field :code,
                    data: { target: 'borrower-form.codeField',
                            action: 'input->borrower-form#codeEdited' },
                    class: 'monospace'

  = form.label :email
  = form.text_field :email,
                    data: { target: 'borrower-form.emailField' }

  = form.label :notes
  = form.rich_text_area :notes

  = form.label :allowance, 'Allowance (leave empty for unlimited)'
  = form.number_field :allowance, step: 1

  - if new_borrower
    = form.label :barcode, 'Barcode (leave empty for automatic)'
  - else
    = form.label :barcode
  = form.text_field :barcode, class: 'monospace'

  = form.submit
