<%= form_for issuer do |form| %>
  <% if issuer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(issuer.errors.count, "error") %> prohibited
        this issuer from being saved:
      </h2>
      <ul>
        <% issuer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :code %><br>
    <%= form.text_field :code %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
