%h1 Issuers
= render 'general/menu'
!= pagy_foundation_nav_js @pagy

%table
  %thead
    %tr
      %th= sort_link @query, :name
      %th= sort_link @query, :barcode
      %th= sort_link @query, :created_at, 'Created'
  %tbody
    - @issuers.each do |issuer|
      %tr
        %td= link_to issuer.name, issuer
        %td
          %pre= issuer.barcode
        %td= local_time issuer.created_at

!= pagy_foundation_nav_js @pagy
