%h1 Issuers
= render 'home/menu'
= pagy_nav @pagy

%table
  %thead
    %tr
      %th= sort_link @query, :name
      %th= sort_link @query, :barcode
      %th= sort_link @query, :created_at, 'Time Created'
  %tbody
    - @issuers.each do |issuer|
      %tr
        %td= link_to issuer.name, issuer
        %td
          %pre= issuer.barcode
        %td= local_time issuer.created_at

= pagy_nav @pagy
