= render 'general/logo'
%main.central
  %section.card
    %header.card-divider Resend confirmation instructions
    = form_with(model: resource,
      url: confirmation_path(resource_name),
      html: { method: :post },
      class: 'card-section') do |f|
      = render 'devise/shared/error_messages', resource: resource
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
      = f.submit 'Resend confirmation instructions', class: 'button'
  %nav.links= render 'devise/shared/links'
