= form_with model: device do |form|
  - if device.errors.any?
    #error-explanation
      %h2
        = pluralize(device.errors.count, 'error')
        prevented
        this device from being saved:
      %ul
        - device.errors.full_messages.each do |msg|
          %li= msg
  = form.label :name
  = form.text_field :name

  = form.label :description
  = form.text_area :description

  = form.label :barcode
  = form.text_field :barcode, class: 'monospace'

  = form.submit
