= render 'general/menu' do
  %li
    %span.header Devices
  -# TODO: Search form
  %li.spacer
  %li= link_to 'New', new_device_url
%main
  != pagy_foundation_nav_js @pagy
  %table
    %thead
      %tr
        %th= sort_link @query, :name
        %th= sort_link @query, :barcode
        %th= sort_link @query, :created_at, 'Created'
        %th= sort_link @query, :issued_at, 'Issued'
        %th Days Overdue
    %tbody
      - @devices.each do |device|
        %tr
          - if device.overdue?
            %td= link_to device.name, device, class: 'overdue'
          - else
            %td= link_to device.name, device

          %td
            %pre= device.barcode

          %td= local_time device.created_at

          - if device.issued?
            %td= local_time device.issued_at
          - else
            %td -

          - if device.overdue?
            %td= device.days_overdue
          - else
            %td -
  != pagy_foundation_nav_js @pagy
