= render 'general/menu' do
  %li
    %span.header
      = @device.name
  - if @device.overdue?
    %li
      .label.alert
        = pluralize(@device.days_overdue, 'day') + ' overdue'
  %li.spacer
  %li= link_to 'Loans', loans_device_url(@device)
  %li= link_to 'Barcode', barcode_device_url(@device), 'data-turbolinks': false
  %li= link_to 'Edit', edit_device_url(@device)
  %li= link_to 'Delete', device_url(@device), method: :delete, confirm: 'Are you sure?'
%main
  %pre= @device.barcode
  %p= @device.description
  - if @device.issued?
    %p
      Issued by
      = link_to @device.current_loan.borrower.name,
                borrower_path(@device.current_loan.borrower)
      = local_time_ago @device.issued_at
  - else
    %p Not currently issued
  %p!= @device.notes
