<h1><%= @device.name %></h1>
<pre><%= @device.barcode %></pre>
<p><%= @device.description %></p>

<% if @device.issuer.nil? %>
  <p>Not currently issued</p>
<% else %>
  <p>
    Issued by
    <%= link_to @device.issuer.name, issuer_path(@device.issuer) %>
    at
    <%= @device.issued_at %>
  </p>
<% end %>
