%h1= @device.name
%ul.menu
  %li= link_to 'Back', devices_url
  %li= link_to 'Edit', edit_device_url(@device)
%pre= @device.barcode
%p= @device.description
- if @device.issuer.nil?
  %p Not currently issued
- else
  %p
    Issued by
    \#{link_to @device.issuer.name, issuer_path(@device.issuer)}
    at
    \#{@device.issued_at}
