%header
  %a#boop-logo{ href: root_url }<
    Boop

  %ul.menu
    %li= menu_link_to 'Home', root_url
    %li= menu_link_to 'Borrowers', borrowers_url
    %li= menu_link_to 'Devices', devices_url
    %li.spacer
    %li= menu_link_to 'Sign Out', destroy_admin_session_url, method: :delete

  -#
    %nav{ 'aria-label' => 'You are here:', :role => 'navigation' }
      %ul.breadcrumbs
        %li= link_to 'Boop', root_url

  - if block_given?
    -# FIXME: Why is the <hr> appearing even when no block is given?
    - if local_assigns[:hr] != false
      %hr
    %ul.menu= yield
