%ul.menu
  %li= link_to 'Home', root_url
  %li= link_to 'Sign Out', destroy_admin_session_url, method: :delete
  %li
    = link_to 'Issuers', issuers_url
    %em
      (#{link_to 'New', new_issuer_url})
  %li
    = link_to 'Devices', devices_url
    %em
      (#{link_to 'New', new_device_url})
