%h1= @issuer.name
%span.summary.hoverable{ title: 'Overdues/Issues/Allowance' }= @issuer.device_summary
- unless @issuer.allowed_another_device?
  .input-group.allowance_full
    %label.middle
      This issuer has already #{@issuer.allowance_state} their allowance!
    .spacer
    = label_tag :"override-allowance", 'Override', class: 'middle'
    %input.middle#override-allowance{ type: :checkbox, name: :override,
                                required: true, form: 'issuing-device-form' }
= hidden_field_tag :issuer, @issuer.barcode, required: true, form: 'issuing-device-form'
