= render 'general/menu' do
  %li
    - if (resource = @borrower || @device)
      = link_to resource.name, resource
      \/
    %span.header Loans
  %li.search
    = search_form_for @q, role: 'search', class: 'input-group' do |f|
      = f.search_field :borrower_name_or_borrower_code_or_device_name_or_device_code_cont,
        class: 'small input-group-field', placeholder: 'Search loans...'

      .input-group-button
        %button.button{ type: 'submit' }
          %span.show-for-sr Search
          %span{ 'aria-hidden' => 'true' }
            %i.fi-magnifying-glass
  %li.spacer
  - if @borrower
    %li= link_to 'Download CSV', loans_borrower_url(@borrower, format: :csv), class: 'clear button'
  - elsif @device
    %li= link_to 'Download CSV', loans_device_url(@device, format: :csv), class: 'clear button'
  - else
    %li= link_to 'Download CSV', loans_url(format: :csv), class: 'clear button'
%main
  %table
    %thead
      %tr
        %th= sort_link @q, :created_at, 'Issued'
        %th= sort_link @q, :returned_at, 'Returned'
        - unless @borrower
          %th= sort_link @q, :borrower_name, 'Borrower'
        - unless @device
          %th= sort_link @q, :device_name, 'Device'
        -# TODO: Sort/filter options
        %th Status
    %tbody
      - @loans.each do |loan|
        %tr
          %td= local_time loan.created_at
          - if loan.active?
            %td -
          - else
            %td= local_time loan.returned_at
          - unless @borrower
            %td= link_to loan.borrower.name, loan.borrower
          - unless @device
            %td= link_to loan.device.name, loan.device
          - if loan.overdue?
            %td= "#{pluralize(loan.days_overdue, 'day')} overdue"
          - elsif loan.active?
            %td Active
          - else
            %td Returned

  != pagy_foundation_nav @pagy
