= render 'general/logo'
%main.central
  %section.card
    %header.card-divider Log in
    = form_with(model: resource,
      url: session_path(resource_name),
      class: 'card-section') do |f|
      = devise_error_messages! # TODO: Not working?
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email'
      = f.label :password
      = f.password_field :password, autocomplete: 'current-password'
      - if devise_mapping.rememberable?
        .input-group
          = f.check_box :remember_me, style: 'margin: 0;'
          = f.label :remember_me
      = f.submit 'Log in', class: 'button'
  %nav.links
    = render 'devise/shared/links'
