!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title Boop
    / Cross-Site Request Forgery
    = csrf_meta_tags
    / Content Security Policy
    = csp_meta_tag
    / Fonts
    = render 'home/fonts'
    / Stylesheets
    = stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track': 'reload'
    / Javascript
    = javascript_pack_tag 'application'
  %body
    %section#notices
      != notice_p
      != alert_p
    = yield
