!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }

    %meta{ name: 'viewport',
           content: 'width=device-width, initial-scale=1.0' }

    %title= content_for?(:title) ? yield(:title) : 'Boop'

    / Stylesheets
    = stylesheet_pack_tag 'application'
    / Webpacker Javascript
    = javascript_pack_tag 'application'
    / Cross Site Request Forgery tag
    = csrf_meta_tag

  %body
    #callout-box
      != notice_callout
      != alert_callout
    = yield
